@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#hero {
  background-color: black;
  background-image: radial-gradient(circle, #ff000040 1px, transparent 1px);
  background-size: 30px 30px;
}
