@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-icons {
    @apply text-white hover:text-red-500 transition-colors;
  }
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}
